*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(16, 2, 59);
  
}
.navbar{
    color: white;
}
.nav-element{
    display: inline-block;
    margin: 1rem;
    padding: 1rem;
}
.nav-element a{
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: 1.2rem;
}