*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(16,12,243);
    background: linear-gradient(45deg, rgba(16,12,243,1) 0%, rgba(6,2,22,1) 47%, rgba(115,34,200,1) 100%);
}
.navbar{
    color: white;
    
}
.nav-element{
    display: inline-block;
    margin: 1rem;
    padding: 1rem;
}
.nav-element a{
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: 1.2rem;
}